body {
    background-color: rgb(233, 233, 233);
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgb(24, 152, 234);
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    font-family: 'Lobster', sans-serif;    
}

main, header, footer {
    max-width: 56rem;
    margin: auto;
    padding: 1rem;
}

main {
    background-color: white;
    color: black;
}

footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(24, 152, 234);
    color: white;
    display: flex;
    justify-content: space-between;    
}